@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
*{
/*    border:1px solid red; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin:0;
  paddign:0;
}
.navbar {
  
  display: flex;
  justify-content: space-between;
  width:95%;
  margin:2rem;
}
.three-dots{
  background:black;
  color:white;
  border-radius:50%;
  padding:0px 8px 8px 8px;
  cursor:pointer;
}
.card{
  border-radius:8px;
  height:250px;
  width:450px;
  background: rgb(207,176,248);
background: linear-gradient(90deg, rgba(207,176,248,1) 0%, rgba(249,196,125,1) 100%);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}
body {
  padding-left:35vw;
  width:500px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background-color:#f3f2f8;
}
.data-container{
  width:95%;
/*   background:black; */
  height:200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
/*   background:red; */
  width:230px;
  padding:1rem;
  padding-left:2rem;
}
.div1 h2 {
  font-size:35px;
  font-weight:bolder;
}
.available-cash{
  color:#a2a2a2;
}
.div2 { 
  grid-area: 2 / 1 / 3 / 2; 
/*   background:blue; */
  padding:1rem;
  padding-left:2rem;
}
.div3 { 
  grid-area: 1 / 2 / 3 / 3;
/*   background:green; */
  width:200px;
  height:200px;
  padding:1rem 3rem 0rem 0rem;
  
}
.div3 h2 {
  font-size:35px;
  font-weight:bolder;
}
.pay{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-left:3rem;
  margin-top:2rem;
  width:70px;
  height:70px;
  border-radius:50px;
  background:black;
  color:white;
  
}
